git+https://github.com/TeamAsterix/pyrogram
pytube
telegraph
heroku3
aiohttp
aiofiles
hachoir
pillow
bs4
covid
pySmartDL
pyDownload
TgCrypto==1.2.2
httpx
pytz
currencyconverter
deep_translator
gtts
git-python
wikipedia-api
youtube_dl
speedtest-cli==2.1.3
search-engine-parser
qrcode
bing-image-downloader
pysimplelog
ryoishin
telethon
