# Jangan gunakan tanda kutip( " dan ' )
#Database records can use SQL, Mongo and Redis
# DATABASE_URL for SQL ,MONGO_URI for Mongodb, REDIS_PASSWORD and REDIS_URI for Redis

API_ID=
API_HASH=
SESSION=-05wTiu--oVEFvntN0cr1cSaEAVB---
MONGO_URI=mongodb+srv://Rehanalam:rehanalam@cluster0.hfhpkrz.mongodb.net/?retryWrites=true&w=majority
PRIVATE_GROUP_BOT_API_ID=-1001556371377
BOT_TOKEN=
BOT_USERNAME=
